body{
    width: 100%;
    background: linear-gradient( 90deg, rgb(134, 166, 235), rgb(175, 35, 240))
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 300px;
}


.container1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}

.container2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}

.wrapper{
    display: center;
}